<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js ">
    </script>
    <script src="{{ url_for('static',filename='main.js') }}"></script>

</head>
<body>

<form  method="post" id="currentForm" >
    <h4>Имя</h4>
    <input type="text" id="userName" name="userName" size="40">
    <h4>Фамилия</h4>
    <input type="text" id = 'userSurname' name="userSurname" size="40">

    <div><h4>Пол:</h4>
   <input type="radio" name="gender" value="Man">Мужчина
   <input type="radio" name="gender" value="Women">Женщина
    </div><br>

    <div>
    <input type="checkbox" id="citizen" name="citizen">
    <label for="citizen">Гражданин РФ</label>
    </div> <br>
    <h4>Дата рождения:</h4>
    <input type="date" id="dateBorn" name="dateBorn"
       value="1990-01-01"
       min="1900-01-01" max="2021-12-31">

    <h4>Образование</h4>
    <p><select name="education">
    <option>Выберите образование</option>
    <option value="1">Среднее</option>
    <option value="2">Высшее неоконченное</option>
    <option value="3">Высшее</option>
    </select></p>

    <h4>О себе:</h4>
    <textarea name="comment" id="comment"></textarea>

    <div>
        <button id="save" type="submit" >Сохранить</button>
    </div>
</form>

</body>
</html>
